html, body { height: 300%; }


.container1{
display: flex;
justify-content: space-between;
align-items:flex-start;
}

div.t {
    max-height:400px;
    max-width:500px;
    height:auto;
    width:auto;
}